Cek data

In [2]:
import pandas as pd
jaksel_dict = pd.read_csv('dummy_alay.csv', encoding='latin-1', header=None)
jaksel_dict = jaksel_dict.rename(columns={0: 'original', 
                                      1: 'replacement'})
print("Shape: ", jaksel_dict.shape)
jaksel_dict.head(15)

Shape:  (5, 2)

    original    replacement
0  literally  pada dasarnya
1   which is        di mana
2     hectic          sibuk
3         3x      tiga kali
4    anxiety          cemas

Logic replace alay ke baku

In [3]:
alay_dict_map = dict(zip(jaksel_dict['original'], jaksel_dict['replacement']))
def normalize_alay(text):
    return ' '.join([alay_dict_map[word] if word in alay_dict_map else word for word in text.split(' ')])

In [4]:
print("normalize_alay: ", normalize_alay("3x"))

normalize_alay:  tiga kali