## Read csv column with looping

In [ ]:
abusive_list = abusive_df['ABUSIVE'].tolist()

abusive_arr = []

for i, abusive_df in enumerate(abusive_list):
    abusive_arr.append(abusive_df)

print(abusive_arr)

## Auto increment SQLite

In [ ]:
import sqlite3
conn = sqlite3.connect('database/test_autoincrement.db')
cursorobj = conn.cursor()

cursorobj.execute("CREATE TABLE employees(id integer PRIMARY KEY, name text, salary real, department txt, position text, hiredDate text)")
conn.commit()

entities = [('Phillip', 750, 'Finance', 'Accounting', '2016-05-12'),
            ('Andreas', 650, 'HR', 'Admin', '2018-08-22'),
            ('Trias', 920, 'Tech', 'Manager', '2012-01-29')]

# Execute INSERT statement inside loop
for entity in entities:
    cursorobj.execute('''INSERT INTO employees(name, salary, department, position, hiredDate) VALUES(?, ?, ?, ?, ?)''', 
                      entity)
    conn.commit()