In [58]:
import pandas as pd
import numpy as np
import sqlite3

In [6]:
data_pokemon = pd.read_excel('data_pokemon.xlsx')

In [8]:
data_pokemon = data_pokemon.drop('#', axis=1) # Drop column #

In [9]:
data_pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
0,Bulbasaur,Grass,Poison,318.0,45,49,49,65,65.0,45,1,False
1,Ivysaur,Grass,Poison,405.0,60,62,63,80,80.0,60,2,False
2,Venusaur,Grass,Poison,525.0,80,82,83,100,100.0,80,3,False
3,Charmander,Fire,NaN,309.0,39,52,43,60,50.0,65,1,False
4,Charmeleon,Fire,NaN,405.0,58,64,58,80,65.0,80,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...
146,Dratini,Dragon,NaN,300.0,41,64,45,50,50.0,50,1,False
147,Dragonair,Dragon,NaN,420.0,61,84,65,70,70.0,70,2,False
148,Dragonite,Dragon,Flying,NaN,91,134,95,100,100.0,80,3,False
149,Mewtwo,Psychic,NaN,680.0,106,110,90,154,90.0,130,1,True
150,Mew,Psychic,NaN,NaN,100,100,100,100,100.0,100,1,False

In [123]:
# id_pokemon: int PK
# Name: varchar(255)
# Type1: varchar(255)
# Type2: varchar(255)
# Total: float
# HP: int
# Attack: int
# Defense: int
# sp_atk: int
# sp_def: int
# speed: int
# stage: int
# legendary: boolean

In [11]:
conn = sqlite3.connect('database/data_pokemon.db')

In [134]:
conn.execute('''
drop table pokemons;
''')
conn.commit()

In [135]:
conn.execute('''
CREATE TABLE pokemons (id INTEGER PRIMARY KEY AUTOINCREMENT, 
                       nama_pokemon varchar(255) not null,
                       type1 varchar(255),
                       type2 varchar(255),
                       total float,
                       hp int,
                       attack int,
                       defense int,
                       sp_atk int,
                       sp_def int,
                       speed int,
                       stage int,
                       legendary boolean
);
''')
conn.commit()

In [136]:
data_pokemon_values = data_pokemon.values

In [140]:
for pokemon in data_pokemon_values:
    if pd.isna(pokemon[0]) == False:
        nama_pokemon = f'"{pokemon[0]}"' # ie: "mewtwo"
    else:
        nama_pokemon = 'NULL'

    if pd.isna(pokemon[1]) == False:
        type1 =  f'"{pokemon[1]}"' # ie: "water"
    else:
        type1 = 'NULL'
        
    if pd.isna(pokemon[2]) == False:
        type2 = f'"{pokemon[2]}"' # ie: "sea"
    else:
        type2 = 'NULL'
        
    if pd.isna(pokemon[3]) == False:
        total = pokemon[3]
    else:
        total = 'NULL'
        
    if pd.isna(pokemon[4]) == False:
        hp = pokemon[4]
    else:
        hp = 'NULL'
    
    if pd.isna(pokemon[5]) == False:
        attack = pokemon[5]
    else:
        attack = 'NULL'
        
    if pd.isna(pokemon[6]) == False:
        defense = pokemon[6]    
    else:
        defense = 'NULL'
        
    if pd.isna(pokemon[7]) == False:
        sp_atk = pokemon[7]
    else:
        sp_atk = 'NULL'

    if pd.isna(pokemon[9]) == False:
        sp_def = pokemon[9]
    else:
        sp_def = 'NULL'

    if pd.isna(pokemon[8]) == False:
        speed = pokemon[8]
    else:
        speed = 'NULL'        
    if pd.isna(pokemon[10]) == False:
        stage = pokemon[10]
    else:
        stage = 'NULL'
        
    if pd.isna(pokemon[11]) == False:
        legendary = pokemon[11]
    else:
        legendary = 'NULL'

    
    sql_string = f"""
        INSERT INTO pokemons 
        (nama_pokemon, type1, type2, total, hp, attack, defense, sp_atk, sp_def, speed, stage, legendary) 
        VALUES 
        ({nama_pokemon}, {type1}, {type2}, {total}, {hp}, {attack}, {defense}, {sp_atk}, {sp_def}, {speed}, {stage}, {legendary});
    """

    conn.execute(sql_string)

conn.commit()

In [128]:
result = conn.execute('''
select * from pokemons where type2 = 'none';
''')
conn.commit()

for x in result:
    print(x)

In [141]:
result = conn.execute('''
select * from pokemons where type2 = 'NULL';
''')
conn.commit()

for x in result:
    print(x)

OperationalError: near "|": syntax error

In [130]:
result = conn.execute('''
select * from pokemons;
''')
conn.commit()

for x in result:
    print(x)

(1, 'Bulbasaur', 'Grass', 'Poison', 318.0, 45, 49, 49, 65, 65, None, 45, 1)
(2, 'Ivysaur', 'Grass', 'Poison', 405.0, 60, 62, 63, 80, 80, None, 60, 2)
(3, 'Venusaur', 'Grass', 'Poison', 525.0, 80, 82, 83, 100, 100, None, 80, 3)
(4, 'Charmander', 'Fire', None, 309.0, 39, 52, 43, 60, 50, None, 65, 1)
(5, 'Charmeleon', 'Fire', None, 405.0, 58, 64, 58, 80, 65, None, 80, 2)
(6, 'Charizard', 'Fire', 'Flying', 534.0, 78, 84, 78, 109, 85, None, 100, 3)
(7, 'Squirtle', 'Water', None, 314.0, 44, 48, 65, 50, 64, None, 43, 1)
(8, 'Wartortle', 'Water', None, 405.0, 59, 63, 80, 65, 80, None, 58, 2)
(9, 'Blastoise', 'Water', None, 530.0, 79, 83, 100, 85, 105, None, 78, 3)
(10, 'Caterpie', 'Bug', None, 195.0, 45, 30, 35, 20, 20, None, 45, 1)
(11, 'Metapod', 'Bug', None, 205.0, 50, 20, 55, 25, 25, None, 30, 2)
(12, 'Butterfree', 'Bug', 'Flying', 395.0, 60, 45, 50, 90, 80, None, 70, 3)
(13, 'Weedle', 'Bug', 'Poison', 195.0, 40, 35, 30, 20, 20, None, 50, 1)
(14, 'Kakuna', 'Bug', 'Poison', 205.0, 45, 25, 50, 25, 25, None, 35, 2)
(15, 'Beedrill', 'Bug', 'Poison', 395.0, 65, 90, 40, 45, 80, None, 75, 3)
(16, 'Pidgey', 'Normal', 'Flying', 251.0, 40, 45, 40, 35, 35, None, 56, 1)
(17, 'Pidgeotto', 'Normal', 'Flying', 349.0, 63, 60, 55, 50, None, None, 71, 2)
(18, 'Pidgeot', 'Normal', 'Flying', 479.0, 83, 80, 75, 70, None, None, 101, 3)
(19, 'Rattata', 'Normal', None, 253.0, 30, 56, 35, 25, 35, None, 72, 1)
(20, 'Raticate', 'Normal', None, 413.0, 55, 81, 60, 50, 70, None, 97, 2)
(21, 'Spearow', 'Normal', 'Flying', 262.0, 40, 60, 30, 31, 31, None, 70, 1)
(22, 'Fearow', 'Normal', 'Flying', 442.0, 65, 90, 65, 61, 61, None, 100, 2)
(23, 'Ekans', 'Poison', None, 288.0, 35, 60, 44, 40, 54, None, 55, 1)
(24, 'Arbok', 'Poison', None, 438.0, 60, 85, 69, 65, 79, None, 80, 2)
(25, 'Pikachu', 'Electric', None, 320.0, 35, 55, 40, 50, 50, None, 90, 1)
(26, 'Raichu', 'Electric', None, 485.0, 60, 90, 55, 90, 80, None, 110, 2)
(27, 'Sandshrew', 'Ground', None, 300.0, 50, 75, 85, 20, 30, None, 40, 1)
(28, 'Sandslash', 'Ground', None, 450.0, 75, 100, 110, 45, None, None, 65, 2)
(29, 'Nidoranï¿½ï¿½ï¿½', 'Poison', None, 275.0, 55, 47, 52, 40, 40, None, 41, 1)
(30, 'Nidorina', 'Poison', None, 365.0, 70, 62, 67, 55, 55, None, 56, 2)
(31, 'Nidoqueen', 'Poison', 'Ground', 505.0, 90, 92, 87, 75, 85, None, 76, 3)
(32, 'Nidoranï¿½ï¿½ï¿½', 'Poison', None, 273.0, 46, 57, 40, 40, 40, None, 50, 1)
(33, 'Nidorino', 'Poison', None, 365.0, 61, 72, 57, 55, 55, None, 65, 2)
(34, 'Nidoking', 'Poison', 'Ground', 505.0, 81, 102, 77, 85, 75, None, 85, 3)
(35, 'Clefairy', 'Fairy', None, 323.0, 70, 45, 48, 60, 65, None, 35, 1)
(36, 'Clefable', 'Fairy', None, 483.0, 95, 70, 73, 95, 90, None, 60, 2)
(37, 'Vulpix', 'Fire', None, 299.0, 38, 41, 40, 50, 65, None, 65, 1)
(38, 'Ninetales', 'Fire', None, 505.0, 73, 76, 75, 81, 100, None, 100, 2)
(39, 'Jigglypuff', 'Normal', 'Fairy', 270.0, 115, 45, 20, 45, 25, None, 20, 1)
(40, 'Wigglytuff', 'Normal', 'Fairy', 435.0, 140, 70, 45, 85, 50, None, 45, 2)
(41, 'Zubat', 'Poison', 'Flying', 245.0, 40, 45, 35, 30, 40, None, 55, 1)
(42, 'Golbat', 'Poison', 'Flying', 455.0, 75, 80, 70, 65, 75, None, 90, 2)
(43, 'Oddish', 'Grass', 'Poison', 320.0, 45, 50, 55, 75, 65, None, 30, 1)
(44, 'Gloom', 'Grass', 'Poison', 395.0, 60, 65, 70, 85, 75, None, 40, 2)
(45, 'Vileplume', 'Grass', 'Poison', 490.0, 75, 80, 85, 110, 90, None, 50, 3)
(46, 'Paras', 'Bug', 'Grass', 285.0, 35, 70, 55, 45, 55, None, 25, 1)
(47, 'Parasect', 'Bug', 'Grass', 405.0, 60, 95, 80, 60, 80, None, 30, 2)
(48, 'Venonat', 'Bug', 'Poison', 305.0, 60, 55, 50, 40, 55, None, 45, 1)
(49, 'Venomoth', 'Bug', 'Poison', 450.0, 70, 65, 60, 90, 75, None, 90, 2)
(50, 'Diglett', 'Ground', None, 265.0, 10, 55, 25, 35, 45, None, 95, 1)
(51, 'Dugtrio', 'Ground', None, 405.0, 35, 80, 50, 50, 70, None, 120, 2)
(52, 'Meowth', 'Normal', None, 290.0, 40, 45, 35, 40, 40, None, 90, 1)
(53, 'Persian', 'Normal', None, 440.0, 65, 70, 60, 65, 65, None, 115, 2)
(54, 'Psyduck', 'Water', None, 320.0, 50, 52, 48, 65, 50, None, 55, 1)
(55, 'Golduck', 'Water', None, 500.0, 80, 82, 78, 95, 80, None, 85, 2)
(56, 'Mankey', 'Fighting', None, 305.0, 40, 80, 35, 35, 45, None, 70, 1)
(57, 'Primeape', 'Fighting', None, 455.0, 65, 105, 60, 60, 70, None, 95, 2)
(58, 'Growlithe', 'Fire', None, 350.0, 55, 70, 45, 70, 50, None, 60, 1)
(59, 'Arcanine', 'Fire', None, 555.0, 90, 110, 80, 100, 80, None, 95, 2)
(60, 'Poliwag', 'Water', None, 300.0, 40, 50, 40, 40, 40, None, 90, 1)
(61, 'Poliwhirl', 'Water', None, 385.0, 65, 65, 65, 50, 50, None, 90, 2)
(62, 'Poliwrath', 'Water', 'Fighting', 510.0, 90, 95, 95, 70, 90, None, 70, 3)
(63, 'Abra', 'Psychic', None, 310.0, 25, 20, 15, 105, 55, None, 90, 1)
(64, 'Kadabra', 'Psychic', None, 400.0, 40, 35, 30, 120, 70, None, 105, 2)
(65, 'Alakazam', 'Psychic', None, 500.0, 55, 50, 45, 135, 95, None, 120, 3)
(66, 'Machop', 'Fighting', None, 305.0, 70, 80, 50, 35, 35, None, 35, 1)
(67, 'Machoke', 'Fighting', None, 405.0, 80, 100, 70, 50, None, None, 45, 2)
(68, 'Machamp', 'Fighting', None, 505.0, 90, 130, 80, 65, 85, None, 55, 3)
(69, 'Bellsprout', 'Grass', 'Poison', 300.0, 50, 75, 35, 70, 30, None, 40, 1)
(70, 'Weepinbell', 'Grass', 'Poison', 390.0, 65, 90, 50, 85, 45, None, 55, 2)
(71, 'Victreebel', 'Grass', 'Poison', 490.0, 80, 105, 65, 100, None, None, 70, 3)
(72, 'Tentacool', 'Water', 'Poison', 335.0, 40, 40, 35, 50, 100, None, 70, 1)
(73, 'Tentacruel', 'Water', 'Poison', 515.0, 80, 70, 65, 80, 120, None, 100, 2)
(74, 'Geodude', 'Rock', 'Ground', 300.0, 40, 80, 100, 30, 30, None, 20, 1)
(75, 'Graveler', 'Rock', 'Ground', 390.0, 55, 95, 115, 45, 45, None, 35, 2)
(76, 'Golem', 'Rock', 'Ground', 495.0, 80, 120, 130, 55, 65, None, 45, 3)
(77, 'Ponyta', 'Fire', None, 410.0, 50, 85, 55, 65, 65, None, 90, 1)
(78, 'Rapidash', 'Fire', None, 500.0, 65, 100, 70, 80, 80, None, 105, 2)
(79, 'Slowpoke', 'Water', 'Psychic', 315.0, 90, 65, 65, 40, 40, None, 15, 1)
(80, 'Slowbro', 'Water', 'Psychic', 490.0, 95, 75, 110, 100, 80, None, 30, 2)
(81, 'Magnemite', 'Electric', 'Steel', 325.0, 25, 35, 70, 95, 55, None, 45, 1)
(82, 'Magneton', 'Electric', 'Steel', 465.0, 50, 60, 95, 120, 70, None, 70, 2)
(83, "Farfetch'd", 'Normal', 'Flying', 352.0, 52, 65, 55, 58, 62, None, 60, 1)
(84, 'Doduo', 'Normal', 'Flying', 310.0, 35, 85, 45, 35, 35, None, 75, 1)
(85, 'Dodrio', 'Normal', 'Flying', 460.0, 60, 110, 70, 60, 60, None, 100, 2)
(86, 'Seel', 'Water', None, 325.0, 65, 45, 55, 45, 70, None, 45, 1)
(87, 'Dewgong', 'Water', 'Ice', 475.0, 90, 70, 80, 70, 95, None, 70, 2)
(88, 'Grimer', 'Poison', None, 325.0, 80, 80, 50, 40, 50, None, 25, 1)
(89, 'Muk', 'Poison', None, 500.0, 105, 105, 75, 65, 100, None, 50, 2)
(90, 'Shellder', 'Water', None, 305.0, 30, 65, 100, 45, 25, None, 40, 1)
(91, 'Cloyster', 'Water', 'Ice', 525.0, 50, 95, 180, 85, 45, None, 70, 2)
(92, 'Gastly', 'Ghost', 'Poison', 310.0, 30, 35, 30, 100, 35, None, 80, 1)
(93, 'Haunter', 'Ghost', 'Poison', 405.0, 45, 50, 45, 115, 55, None, 95, 2)
(94, 'Gengar', 'Ghost', 'Poison', 500.0, 60, 65, 60, 130, 75, None, 110, 3)
(95, 'Onix', 'Rock', 'Ground', 385.0, 35, 45, 160, 30, 45, None, 70, 1)
(96, 'Drowzee', 'Psychic', None, 328.0, 60, 48, 45, 43, 90, None, 42, 1)
(97, 'Hypno', 'Psychic', None, 483.0, 85, 73, 70, 73, 115, None, 67, 2)
(98, 'Krabby', 'Water', None, 325.0, 30, 105, 90, 25, 25, None, 50, 1)
(99, 'Kingler', 'Water', None, 475.0, 55, 130, 115, 50, 50, None, 75, 2)
(100, 'Voltorb', 'Electric', None, 330.0, 40, 30, 50, 55, 55, None, 100, 1)
(101, 'Electrode', 'Electric', None, 480.0, 60, 50, 70, 80, 80, None, 140, 2)
(102, 'Exeggcute', 'Grass', 'Psychic', 325.0, 60, 40, 80, 60, 45, None, 40, 1)
(103, 'Exeggutor', 'Grass', 'Psychic', 520.0, 95, 95, 85, 125, 65, None, 55, 2)
(104, 'Cubone', 'Ground', None, 320.0, 50, 50, 95, 40, 50, None, 35, 1)
(105, 'Marowak', 'Ground', None, 425.0, 60, 80, 110, 50, 80, None, 45, 2)
(106, 'Hitmonlee', 'Fighting', None, 455.0, 50, 120, 53, 35, 110, None, 87, 1)
(107, 'Hitmonchan', 'Fighting', None, 455.0, 50, 105, 79, 35, 110, None, 76, 1)
(108, 'Lickitung', 'Normal', None, 385.0, 90, 55, 75, 60, 75, None, 30, 1)
(109, 'Koffing', 'Poison', None, 340.0, 40, 65, 95, 60, 45, None, 35, 1)
(110, 'Weezing', 'Poison', None, 490.0, 65, 90, 120, 85, 70, None, 60, 2)
(111, 'Rhyhorn', 'Ground', 'Rock', 345.0, 80, 85, 95, 30, 30, None, 25, 1)
(112, 'Rhydon', 'Ground', 'Rock', 485.0, 105, 130, 120, 45, 45, None, 40, 2)
(113, 'Chansey', 'Normal', None, 450.0, 250, 5, 5, 35, 105, None, 50, 1)
(114, 'Tangela', 'Grass', None, 435.0, 65, 55, 115, 100, 40, None, 60, 1)
(115, 'Kangaskhan', 'Normal', None, 490.0, 105, 95, 80, 40, 80, None, 90, 1)
(116, 'Horsea', 'Water', None, 295.0, 30, 40, 70, 70, 25, None, 60, 1)
(117, 'Seadra', 'Water', None, 440.0, 55, 65, 95, 95, 45, None, 85, 2)
(118, 'Goldeen', 'Water', None, 320.0, 45, 67, 60, 35, 50, None, 63, 1)
(119, 'Seaking', 'Water', None, None, 80, 92, 65, 65, 80, None, 68, 2)
(120, 'Staryu', 'Water', None, 340.0, 30, 45, 55, 70, 55, None, 85, 1)
(121, 'Starmie', 'Water', 'Psychic', 520.0, 60, 75, 85, 100, None, None, 115, 2)
(122, 'Mr. Mime', 'Psychic', 'Fairy', 460.0, 40, 45, 65, 100, 120, None, 90, 1)
(123, 'Scyther', 'Bug', 'Flying', 500.0, 70, 110, 80, 55, 80, None, 105, 1)
(124, 'Jynx', 'Ice', 'Psychic', 455.0, 65, 50, 35, 115, 95, None, 95, 1)
(125, 'Electabuzz', 'Electric', None, 490.0, 65, 83, 57, 95, 85, None, 105, 1)
(126, 'Magmar', 'Fire', None, 495.0, 65, 95, 57, 100, 85, None, 93, 1)
(127, 'Pinsir', 'Bug', None, 500.0, 65, 125, 100, 55, 70, None, 85, 1)
(128, 'Tauros', 'Normal', None, 490.0, 75, 100, 95, 40, 70, None, 110, 1)
(129, 'Magikarp', 'Water', None, 200.0, 20, 10, 55, 15, 20, None, 80, 1)
(130, 'Gyarados', 'Water', 'Flying', 540.0, 95, 125, 79, 60, None, None, 81, 2)
(131, 'Lapras', 'Water', 'Ice', 535.0, 130, 85, 80, 85, 95, None, 60, 1)
(132, 'Ditto', 'Normal', None, 288.0, 48, 48, 48, 48, 48, None, 48, 1)
(133, 'Eevee', 'Normal', None, 325.0, 55, 55, 50, 45, 65, None, 55, 1)
(134, 'Vaporeon', 'Water', None, 525.0, 130, 65, 60, 110, 95, None, 65, 2)
(135, 'Jolteon', 'Electric', None, 525.0, 65, 65, 60, 110, 95, None, 130, 2)
(136, 'Flareon', 'Fire', None, 525.0, 65, 130, 60, 95, 110, None, 65, 2)
(137, 'Porygon', 'Normal', None, 395.0, 65, 60, 70, 85, 75, None, 40, 1)
(138, 'Omanyte', 'Rock', 'Water', None, 35, 40, 100, 90, 55, None, 35, 1)
(139, 'Omastar', 'Rock', 'Water', 495.0, 70, 60, 125, 115, 70, None, 55, 2)
(140, 'Kabuto', 'Rock', 'Water', 355.0, 30, 80, 90, 55, 45, None, 55, 1)
(141, 'Kabutops', 'Rock', 'Water', 495.0, 60, 115, 105, 65, 70, None, 80, 2)
(142, 'Aerodactyl', 'Rock', 'Flying', None, 80, 105, 65, 60, None, None, 130, 1)
(143, 'Snorlax', 'Normal', None, 540.0, 160, 110, 65, 65, 110, None, 30, 1)
(144, 'Articuno', 'Ice', 'Flying', 580.0, 90, 85, 100, 95, 125, None, 85, 1)
(145, 'Zapdos', 'Electric', 'Flying', 580.0, 90, 90, 85, 125, 90, None, 100, 1)
(146, 'Moltres', 'Fire', 'Flying', 580.0, 90, 100, 90, 125, 85, None, 90, 1)
(147, 'Dratini', 'Dragon', None, 300.0, 41, 64, 45, 50, 50, None, 50, 1)
(148, 'Dragonair', 'Dragon', None, 420.0, 61, 84, 65, 70, 70, None, 70, 2)
(149, 'Dragonite', 'Dragon', 'Flying', None, 91, 134, 95, 100, 100, None, 80, 3)
(150, 'Mewtwo', 'Psychic', None, 680.0, 106, 110, 90, 154, 90, None, 130, 1)
(151, 'Mew', 'Psychic', None, None, 100, 100, 100, 100, 100, None, 100, 1)

#### Pokemon apa yang mempunyai Attack paling tinggi?

In [114]:
result = conn.execute('''
select * 
  from pokemons 
 where attack = (select max(attack) from pokemons)
''')
# select dari table pokemons untuk pokemons yang mempunyai attack di dalam range (max attack)
conn.commit()

for x in result:
    print(x)

(149, 'Dragonite', 'Dragon', 'Flying', None, 91, 134, 95, 100, 100, 80, 3)

In [121]:
# result = conn.execute('''
# select * 
#   from pokemons 
#  where attack in (select max(attack) from pokemons)
# ''')
# select dari table pokemons untuk pokemons yang mempunyai attack di dalam range (max attack)
result = conn.execute('''
select * 
  from pokemons 
 order by attack DESC 
 limit 1
''')
conn.commit()

for x in result:
    print(x)

(149, 'Dragonite', 'Dragon', 'Flying', None, 91, 134, 95, 100, 100, 80, 3)

#### Pokemon tipe 1 apa yang mempunyai highest speed?

In [132]:
result = conn.execute('''
select max(speed) from pokemons
''')
conn.commit()

for x in result:
    print(x)

(None,)

In [142]:
result = conn.execute('''
select type1 from pokemons where speed in (select max(speed) from pokemons)
''')
conn.commit()

for x in result:
    print(x)

('Ice',)

#### Pokemon tipe 1 Dragon punya rata-rata defense berapa?

In [146]:
result = conn.execute('''
select avg(defense) from pokemons where type1 = "Dragon"
''')
conn.commit()

for x in result:
    print(x)

(68.33333333333333,)

#### Dari tipe Water or Fire Pokemon, mana yang lebih tinggi rata2 attack speednya?

In [155]:
result = conn.execute('''
select type1, avg(sp_atk) as avg_sp_atk
  from pokemons 
 where type1 in ('Water', 'Fire') 
 group by type1
''')
conn.commit()

for x in result:
    print(x)

('Fire', 84.58333333333333)
('Water', 64.82142857142857)

In [159]:
result = conn.execute('''
SELECT max(avg(sp_atk))
FROM pokemons
WHERE type1 = 'Water' OR type1 = 'Fire'
GROUP BY type1
''')
conn.commit()

for x in result:
    print(x)

OperationalError: misuse of aggregate function avg()

#### Type Pokemon apa yang lebih banyak terklasifikasi kedalam 'Legendary'?

In [160]:
# Challenge SQLITE

In [ ]:
# Menggunakan SQLite dalam sebuah API dengan konsep RDBMS <- membuka database
# Penyimpanan data dalam SQLite menggunakan modul SQLite 3

In [ ]:
python (cleansing data), sqllite (operasi penyimpanan data), mysql (operasi query)
2 function yang ada di flask:
    1. Cleansing data yang ada di dataframe (csv) yang di download
    2. Cleasing data yang di input oleh user

setelah cleansing data -> save data ke DB (menggunakan SQLlite. Disini harus membuat tablenya dulu, bebas..sebelum melakukan cleansing atau sesudah)

function 3 -> Membuka database berdasarkan string yang di input oleh user. targetnya berarti ke string yang belum di cleanse (select * from .... where ....)